[data-component-mediasmart-form] {
  display: flex;
  flex-direction: column;

  select {
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
    padding: 0.25em 0;
  }

  & button {
    outline: none;
  }
  
  & button.square {
    width: 2.5em;
    padding: 0.5em;

    &:not(:hover) {
      background: none;
      border-color: transparent;
    }
  }

  & [data-component-row] {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    & > div, & > select {
      flex-grow: 1;
    }

    & [data-component-input2] {
      align-self: flex-end;
    }
  }

  & [data-component-mediasmart-form='multiple'] {
    display: flex;
    flex-direction: column;


    & [data-component-form-add] {
      margin-bottom: 1em;
      color: gray;

      & > a {
        color: inherit;
        font-size: small;        
      }
    }
    
    & [data-component-mediasmart-form] {
      flex-direction: row;
    }

    & [data-component-action] {
      position: relative;

      & > a {
        display: block;
        position: absolute;
        bottom: 1em;
        right: 0.5em;
        font-size: 1em;
        text-decoration: none;
        align-self: center;
        margin-top: 1em;
        color: gray
      }
    }

    & > div > [data-component-mediasmart-form] {
      display: flex;
      flex-direction: row;
    }

    & button {
      border-radius: 2px;
      padding: calc(var(--unit) * 0.2) calc(var(--unit) * 0.75);
      margin: 0 0 0 auto;
    }
  }

  [data-component-mediasmart-form-title] {
    color: gray;
    font-weight: bold;
    margin-top: 0.5em;
  }

}
