[data-component-input2] {
  padding: 1em 0 0 0;
  margin: 0.5em 0;
  position: relative;
  // border: solid 1px red;

  & > div {
    display: flex;
    flex-direction: row;
    border-bottom: solid 1px #ddd;
  }

  & input {
    outline: none;
    font-size: 1em;
  }

  & i {
    padding-top: 0.3em;
    padding-right: 0.3em;
    padding-left: 0;
    opacity: 0.5;
    vertical-align: middle;
  }

  & > [data-component-input2-file] {
    min-height: 1.5em;

    & > div {
      padding-bottom: 5px;
    }
  }

  &.with-icon > label {
    padding-left: 1.2em;
  }

  &.with-value > label,
  &:focus-within > label,
  &.float-label > label {
    top: 0;
    font-size: small;
    padding: 0;
  }

  & > label {
    transition: all 200ms linear;
    position: absolute;
    vertical-align: bottom;
    line-height: 1em;
    top: 1.5em;
    left: 0;
    pointer-events: none;
    text-transform: capitalize;
  }
  
  & > label {
    margin: 0;
    color: black;
  }

  & input {
    background: none;
    border: none;
    padding: 0.25em 0;
    width: 100%;
  }

  & > select {
    appearance: none;
    background: none;
    border: none;
    border-bottom: solid 1px #ddd;
    padding: 0.25em 0;
    width: 100%;
    border-radius: 0;

    &:focus {
      outline: 0;
    }

    & option {
      background: red;
    }
  }
}

[data-component-input2-file] {
  position: relative;
  padding-top: 5px;
  padding-bottom: 5px;
  
  & > input {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
}

[data-component-input2-autocomplete] {
  display: flex;
  flex-direction: row;

  & > ul {
    margin: 0 0 5px 0;
    padding: 0;
  }

  & > ul > div {
    display: flex;
    flex-direction: row;
    flex-grow: 100;

    & > [data-role="input"], & > select {
      flex-grow: 100;
    }
  }

  & select, & input {
    appearance: none;
    background: none;
    border: none;
    padding: 0.1em 0;

    &::-webkit-calendar-picker-indicator {
      display: none;
    }

    &:focus {
      outline: 0;
    }
  }

  & [data-role="input"] {
    flex-grow: 10;
  }

  & [data-role="actions"]  {
    flex-grow: 1;
    vertical-align: middle;
    display: flex;
    flex-wrap: nowrap;
    
    & > div {
      flex-grow: 1;
      position: relative;
      overflow: hidden;

      & > input[type="file"] {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
      }
    }

    & > button, & > div > button {
      flex-grow: 1;
      margin-right: 2px;
      border-radius: 10em;
      background: none;
      border: none;
      width: 1.8em;
      height: 100%;
      opacity: 0.5;
    }

    & > button:hover, & > div:hover > button {
      background: none;
    }
  }

  & > ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;

    & > li {
      background: #f1f1f1;
      margin: 1px 1px 0 0;
      border-radius: 5px;
      display: flex;
      flex-direction: row;
      height: 1.5em;
      font-size: small;
      
      & > div {
        max-width: 20em;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        padding: 0.1em 0.5em 0 0.5em;
        line-height: 1.3em;
      }

      & > button {
        background: none;
        border-radius: 1em;
        padding: 0;
        margin-right: 0.25em;
        height: 1.5em;
        width: 1.5em;
        font-size: small;
        cursor: pointer;
        color: #aaa;
        border: none;
        vertical-align: middle;
      }

      &:last-of-type {
        margin-right: 0.5em;
      }
    }
  }

  & input {
    border: none;    
  }

  & [data-role="actions"] button {
    visibility: hidden;
  }

  &:hover [data-role="actions"] button {
    visibility: visible;
  }
}
